<?xml version="1.0" encoding="utf-8"?>

<!--
https://learn.microsoft.com/en-us/nuget/consume-packages/central-package-management#warning-when-using-multiple-package-sources
https://learn.microsoft.com/en-us/nuget/consume-packages/package-source-mapping
-->

<configuration>
  <packageSources>
    <clear />
    <add key="nuget" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
</configuration>
